
<div ng-controller="ClientesCtrl"> 
	<h2>Listado de clientes</h2>
	<form class="well form-search">
  <input type="text" class="input-medium search-query" ng-model="query">
  <button type="submit" class="btn">Search</button>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Apellidos</th>
      <th>Email</th>
      
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    
      <tr ng-repeat="cliente in clientes | filter:query">
        <td>{{cliente.clienteid}}</td>
        <td>{{cliente.clientenombre}}</td>
        <td>{{cliente.clienteapellido}}</td>
        <td>{{cliente.clienteemail}}</td>
        <td>
        	<button class="btn btn-mini">Edit</button>
        	<button class="btn btn-mini btn-danger">Delete</button>                    
        </td>
      </tr>
  </tbody>
</table>
</div>